
@import '../../../node_modules/vali-admin/src/sass/main.scss';

.dd {
    max-width: 100%!important;
    
    .dd-item {
        display: block;
        position: relative;
    }
    .dd-handle {
        padding: 12px 10px;
        height: 45px;
    }
    .dd-actions {
        position: relative;
        top: 8px;
        right: 10px;
    }
}